In [6]:
import pandas as pd

In [7]:
ls

LICENSE                              data/
Lessons/                             data_essentials_project_week2.ipynb
README.md                            data_science_essentials_week3.ipynb
Untitled.ipynb

In [8]:
import os
cwd = os.getcwd()
cwd

'/Users/meganvogel/vanderbilt-aspire-data-essentials'

In [129]:
os.chdir('/Users/meganvogel/vanderbilt-aspire-data-essentials/data')

In [130]:
#open file that contails the PEP_2017_PEPAGESEX.csv and drop the header
pop_df = pd.read_csv('PEP_2017_PEPAGESEX.csv',skiprows=1)

In [131]:
pop_df

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2014 - Females; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Male; Median age (years),Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years)
0,0500000US47001,47001,"Anderson County, Tennessee",75129,36308,38821,75094,36288,38806,75112,...,44.8,43.3,41.4,44.8,43.3,41.5,45.1,43.2,41.2,45.0
1,0500000US47003,47003,"Bedford County, Tennessee",45058,22357,22701,45056,22356,22700,45086,...,38.4,37.2,35.9,38.5,37.5,36.2,38.8,37.5,36.2,38.9
2,0500000US47005,47005,"Benton County, Tennessee",16489,8073,8416,16491,8074,8417,16511,...,48.3,46.6,45.2,48.0,47.1,45.7,48.4,47.4,46.0,48.7
3,0500000US47007,47007,"Bledsoe County, Tennessee",12876,6964,5912,12872,6962,5910,12882,...,46.3,43.4,41.7,46.5,43.5,41.9,46.4,43.9,42.1,47.3
4,0500000US47009,47009,"Blount County, Tennessee",123010,59559,63451,123100,59596,63504,123213,...,44.1,43.4,42.1,44.5,43.7,42.2,44.9,43.8,42.3,45.1
5,0500000US47011,47011,"Bradley County, Tennessee",98963,48176,50787,98932,48160,50772,99096,...,40.2,39.2,37.9,40.4,39.5,38.2,40.8,39.7,38.3,40.9
6,0500000US47013,47013,"Campbell County, Tennessee",40716,19861,20855,40723,19864,20859,40735,...,44.4,43.6,42.5,44.5,43.8,42.5,44.9,44.0,42.7,45.2
7,0500000US47015,47015,"Cannon County, Tennessee",13801,6831,6970,13816,6839,6977,13801,...,43.9,42.7,41.2,43.9,42.8,41.3,44.0,42.5,41.0,44.2
8,0500000US47017,47017,"Carroll County, Tennessee",28522,13776,14746,28480,13754,14726,28448,...,44.0,42.5,40.4,44.4,42.5,40.2,44.4,42.7,40.4,44.7
9,0500000US47019,47019,"Carter County, Tennessee",57424,28097,29327,57379,28074,29305,57340,...,45.4,44.6,43.4,45.7,45.0,43.8,46.0,45.3,44.0,46.3
10,0500000US47021,47021,"Cheatham County, Tennessee",39105,19535,19570,39103,19531,19572,39122,...,41.1,40.9,40.1,41.5,41.0,40.2,41.7,40.9,39.9,41.7
11,0500000US47023,47023,"Chester County, Tennessee",17131,8273,8858,17143,8277,8866,17193,...,38.6,37.8,36.4,38.9,37.8,36.4,39.1,38.0,36.5,39.3
12,0500000US47025,47025,"Claiborne County, Tennessee",32213,15779,16434,32212,15778,16434,32216,...,43.7,42.9,41.6,43.9,43.0,41.6,44.2,43.2,41.7,44.5
13,0500000US47027,47027,"Clay County, Tennessee",7861,3897,3964,7860,3896,3964,7851,...,47.4,46.8,45.8,47.7,46.8,45.9,47.7,47.3,46.5,48.3
14,0500000US47029,47029,"Cocke County, Tennessee",35662,17308,18354,35642,17295,18347,35641,...,45.1,44.8,44.0,45.6,45.1,44.3,46.0,45.3,44.6,46.1
15,0500000US47031,47031,"Coffee County, Tennessee",52796,25655,27141,52800,25658,27142,52770,...,41.4,39.8,38.4,41.1,39.8,38.4,41.3,39.8,38.5,41.3
16,0500000US47033,47033,"Crockett County, Tennessee",14586,6997,7589,14576,6992,7584,14588,...,40.8,40.3,39.3,41.2,40.5,39.4,41.7,40.5,39.6,41.6
17,0500000US47035,47035,"Cumberland County, Tennessee",56053,27381,28672,56062,27384,28678,56197,...,51.4,50.4,48.8,51.7,50.8,49.2,52.2,51.4,49.9,52.7
18,0500000US47037,47037,"Davidson County, Tennessee",626681,303540,323141,626580,303489,323091,627973,...,35.0,34.4,33.8,35.0,34.4,33.8,34.9,34.4,33.9,35.0
19,0500000US47039,47039,"Decatur County, Tennessee",11757,5798,5959,11750,5795,5955,11718,...,47.3,45.6,44.1,47.2,45.4,43.6,47.0,45.8,43.9,47.4
20,0500000US47041,47041,"DeKalb County, Tennessee",18723,9270,9453,18720,9271,9449,18695,...,43.0,42.1,40.5,43.3,42.3,40.7,43.5,42.5,40.9,43.7
21,0500000US47043,47043,"Dickson County, Tennessee",49666,24384,25282,49658,24378,25280,49693,...,41.2,39.8,38.4,41.0,39.8,38.5,41.1,39.9,38.4,41.1
22,0500000US47045,47045,"Dyer County, Tennessee",38335,18469,19866,38330,18465,19865,38318,...,41.0,39.8,38.3,41.0,39.7,38.4,41.0,39.7,38.4,40.9
23,0500000US47047,47047,"Fayette County, Tennessee",38413,19047,19366,38439,19059,19380,38429,...,45.4,45.0,44.2,45.9,45.5,44.5,46.4,46.0,44.9,46.9
24,0500000US47049,47049,"Fentress County, Tennessee",17959,8853,9106,17960,8853,9107,17920,...,45.4,44.7,43.7,45.7,45.1,43.8,46.1,45.4,43.9,46.6
25,0500000US47051,47051,"Franklin County, Tennessee",41052,20027,21025,41064,20035,21029,40961,...,42.9,42.0,40.8,43.1,42.0,40.8,43.2,42.2,40.9,43.4
26,0500000US47053,47053,"Gibson County, Tennessee",49683,23668,26015,49691,23669,26022,49734,...,41.5,39.9,38.1,41.6,39.8,38.0,41.5,39.7,38.2,41.3
27,0500000US47055,47055,"Giles County, Tennessee",29485,14379,15106,29489,14380,15109,29420,...,44.3,43.8,43.1,44.5,43.8,42.8,44.7,43.7,42.6,44.7
28,0500000US47057,47057,"Grainger County, Tennessee",22657,11286,11371,22656,11286,11370,22721,...,44.9,44.4,43.3,45.5,44.6,43.4,45.9,45.1,43.6,46.4
29,0500000US47059,47059,"Greene County, Tennessee",68831,33766,35065,68825,33760,35065,68838,...,45.6,44.5,43.0,45.9,44.7,43.3,46.2,44.9,43.4,46.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,0500000US47131,47131,"Obion County, Tennessee",31807,15326,16481,31807,15325,16482,31821,...,43.6,42.6,41.2,44.0,42.8,41.4,44.1,42.8,41.3,44.3
66,0500000US47133,47133,"Overton County, Tennessee",22083,10899,11184,22084,10900,11184,22094,...,44.1,43.0,41.4,44.4,43.3,41.7,44.6,43.4,41.8,44.9
67,0500000US47135,47135,"Perry County, Tennessee",7915,3974,3941,7928,3984,3944,7938,...,44.4,43.5,42.3,44.7,43.5,42.5,44.4,43.4,42.4,44.3
68,0500000US47137,47137,"Pickett County, Tennessee",5077,2550,2527,5077,2551,2526,5073,...,50.0,48.9,48.0,49.8,49.6,48.8,50.4,50.4,49.6,51.1
69,0500000US47139,47139,"Polk County, Tennessee",16825,8371,8454,16826,8373,8453,16817,...,45.2,44.5,43.8,45.2,44.8,44.1,45.6,45.4,44.8,46.0
70,0500000US47141,47141,"Putnam County, Tennessee",72321,35818,36503,72347,35831,36516,72569,...,38.5,36.1,33.8,38.4,36.0,33.7,38.4,36.1,33.8,38.5
71,0500000US47143,47143,"Rhea County, Tennessee",31809,15568,16241,31802,15565,16237,31857,...,41.6,41.0,40.0,41.9,41.0,39.9,42.1,41.0,39.8,42.2
72,0500000US47145,47145,"Roane County, Tennessee",54181,26628,27553,54193,26637,27556,54157,...,47.8,46.8,45.7,48.0,46.9,45.9,48.1,47.2,46.1,48.3
73,0500000US47147,47147,"Robertson County, Tennessee",66283,32634,33649,66349,32677,33672,66355,...,39.4,38.6,37.5,39.6,38.7,37.7,39.6,38.9,38.0,39.8
74,0500000US47149,47149,"Rutherford County, Tennessee",262604,129726,132878,262592,129719,132873,263747,...,34.2,33.4,32.4,34.4,33.5,32.5,34.5,33.7,32.6,34.6
75,0500000US47151,47151,"Scott County, Tennessee",22228,10911,11317,22232,10913,11319,22227,...,40.0,39.2,38.1,40.3,39.4,38.4,40.5,39.6,38.6,40.5
76,0500000US47153,47153,"Sequatchie County, Tennessee",14112,7006,7106,14121,7010,7111,14127,...,43.7,43.1,42.3,44.1,43.4,42.5,44.5,44.0,43.1,44.9
77,0500000US47155,47155,"Sevier County, Tennessee",89889,44313,45576,89725,44237,45488,89948,...,43.7,42.7,41.1,44.1,43.0,41.3,44.5,43.3,41.6,44.9
78,0500000US47157,47157,"Shelby County, Tennessee",927644,442652,484992,927683,442673,485010,928552,...,36.7,35.3,33.6,36.8,35.5,33.8,37.0,35.6,33.9,37.2
79,0500000US47159,47159,"Smith County, Tennessee",19166,9439,9727,19149,9429,9720,19125,...,42.0,40.9,39.4,42.2,40.9,39.6,42.0,41.0,39.6,42.0
80,0500000US47161,47161,"Stewart County, Tennessee",13324,6655,6669,13313,6648,6665,13349,...,45.1,44.2,43.0,45.3,44.7,43.3,46.1,44.7,43.2,46.0
81,0500000US47163,47163,"Sullivan County, Tennessee",156823,75826,80997,156806,75819,80987,156755,...,45.8,44.8,43.4,46.1,45.0,43.5,46.2,45.2,43.6,46.5
82,0500000US47165,47165,"Sumner County, Tennessee",160645,78389,82256,160617,78372,82245,161199,...,40.5,39.5,38.2,40.7,39.5,38.3,40.8,39.5,38.3,40.7
83,0500000US47167,47167,"Tipton County, Tennessee",61081,29946,31135,61006,29908,31098,61066,...,38.9,37.7,36.3,39.0,38.0,36.5,39.3,38.1,36.7,39.3
84,0500000US47169,47169,"Trousdale County, Tennessee",7870,3912,3958,7864,3910,3954,7874,...,41.7,40.6,39.6,41.5,35.7,34.5,39.8,35.6,34.6,39.8
85,0500000US47171,47171,"Unicoi County, Tennessee",18313,8963,9350,18311,8962,9349,18284,...,47.6,46.5,45.3,47.6,46.8,45.6,48.0,46.7,45.5,48.1
86,0500000US47173,47173,"Union County, Tennessee",19109,9524,9585,19109,9523,9586,19118,...,42.7,41.9,41.0,42.8,42.5,41.8,43.4,42.7,42.1,43.6
87,0500000US47175,47175,"Van Buren County, Tennessee",5548,2769,2779,5558,2773,2785,5569,...,47.5,46.6,45.4,47.9,46.9,45.8,48.0,47.2,45.7,48.6
88,0500000US47177,47177,"Warren County, Tennessee",39839,19653,20186,39824,19645,20179,39860,...,41.4,40.2,39.2,41.4,40.2,39.2,41.4,40.3,39.3,41.4
89,0500000US47179,47179,"Washington County, Tennessee",122979,60089,62890,123065,60134,62931,123386,...,40.7,40.0,39.2,40.9,40.1,39.3,41.0,40.4,39.5,41.1
90,0500000US47181,47181,"Wayne County, Tennessee",17021,9402,7619,17027,9404,7623,16987,...,45.8,42.6,39.8,46.5,42.7,39.9,46.7,43.1,40.0,47.4
91,0500000US47183,47183,"Weakley County, Tennessee",35021,17159,17862,35015,17157,17858,35042,...,39.2,37.6,36.0,39.2,37.9,36.2,39.6,38.3,36.6,40.1
92,0500000US47185,47185,"White County, Tennessee",25841,12640,13201,25836,12637,13199,25821,...,44.0,42.7,41.0,44.2,42.8,41.2,44.3,42.8,41.3,44.4
93,0500000US47187,47187,"Williamson County, Tennessee",183182,89336,93846,183252,89371,93881,184130,...,39.7,39.0,38.2,39.7,39.0,38.3,39.7,39.0,38.3,39.7
94,0500000US47189,47189,"Wilson County, Tennessee",113993,55834,58159,114057,55863,58194,114677,...,41.1,40.2,39.2,41.1,40.0,39.0,40.9,39.9,39.0,40.8

In [132]:
pop_df.shape

(95, 993)

In [133]:
#drop male and female data
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='Male')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='Female')))]
pop_df

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Estimates Base - Both Sexes; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,Population Estimate (as of July 1) - 2011 - Both Sexes; Total,Population Estimate (as of July 1) - 2012 - Both Sexes; Total,Population Estimate (as of July 1) - 2013 - Both Sexes; Total,Population Estimate (as of July 1) - 2014 - Both Sexes; Total,...,"April 1, 2010 - Census - Both Sexes; Median age (years)","April 1, 2010 - Estimates Base - Both Sexes; Median age (years)",Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2011 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2012 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2013 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)
0,0500000US47001,47001,"Anderson County, Tennessee",75129,75094,75112,75173,75196,75258,75131,...,42.6,42.6,42.6,42.8,42.9,43.1,43.3,43.3,43.3,43.2
1,0500000US47003,47003,"Bedford County, Tennessee",45058,45056,45086,45227,45262,45584,46259,...,36.4,36.4,36.5,36.9,37.2,37.2,37.2,37.2,37.5,37.5
2,0500000US47005,47005,"Benton County, Tennessee",16489,16491,16511,16488,16414,16358,16176,...,45.5,45.5,45.6,45.9,46.3,46.6,46.7,46.6,47.1,47.4
3,0500000US47007,47007,"Bledsoe County, Tennessee",12876,12872,12882,12906,12851,13846,14419,...,42.3,42.3,42.5,42.7,43.3,43.1,43.3,43.4,43.5,43.9
4,0500000US47009,47009,"Blount County, Tennessee",123010,123100,123213,123653,123904,124844,125827,...,41.4,41.4,41.5,42.0,42.3,42.7,43.1,43.4,43.7,43.8
5,0500000US47011,47011,"Bradley County, Tennessee",98963,98932,99096,99838,101061,101747,102816,...,38.2,38.2,38.2,38.6,38.7,38.9,39.0,39.2,39.5,39.7
6,0500000US47013,47013,"Campbell County, Tennessee",40716,40723,40735,40567,40478,40217,39895,...,41.7,41.7,41.9,42.3,42.6,43.0,43.3,43.6,43.8,44.0
7,0500000US47015,47015,"Cannon County, Tennessee",13801,13816,13801,13723,13803,13704,13614,...,41.4,41.5,41.5,42.0,42.2,42.6,42.6,42.7,42.8,42.5
8,0500000US47017,47017,"Carroll County, Tennessee",28522,28480,28448,28530,28652,28588,28358,...,42.0,42.0,42.0,41.9,41.8,41.9,42.2,42.5,42.5,42.7
9,0500000US47019,47019,"Carter County, Tennessee",57424,57379,57340,57353,57254,56917,56270,...,42.2,42.2,42.3,42.7,43.1,43.7,44.3,44.6,45.0,45.3
10,0500000US47021,47021,"Cheatham County, Tennessee",39105,39103,39122,38971,39220,39334,39604,...,39.3,39.3,39.4,39.7,40.0,40.3,40.5,40.9,41.0,40.9
11,0500000US47023,47023,"Chester County, Tennessee",17131,17143,17193,17126,17052,17079,17101,...,36.2,36.2,36.3,36.6,37.1,37.3,37.5,37.8,37.8,38.0
12,0500000US47025,47025,"Claiborne County, Tennessee",32213,32212,32216,32087,31746,31613,31529,...,41.1,41.1,41.1,41.6,42.2,42.6,42.7,42.9,43.0,43.2
13,0500000US47027,47027,"Clay County, Tennessee",7861,7860,7851,7767,7727,7708,7639,...,45.1,45.1,45.1,45.7,46.0,46.2,46.5,46.8,46.8,47.3
14,0500000US47029,47029,"Cocke County, Tennessee",35662,35642,35641,35401,35455,35325,35201,...,42.9,42.9,43.0,43.6,43.8,44.0,44.4,44.8,45.1,45.3
15,0500000US47031,47031,"Coffee County, Tennessee",52796,52800,52770,52909,53144,53295,53521,...,39.7,39.7,39.8,39.9,40.0,39.9,40.0,39.8,39.8,39.8
16,0500000US47033,47033,"Crockett County, Tennessee",14586,14576,14588,14558,14610,14608,14645,...,39.6,39.6,39.6,39.9,39.9,39.9,40.0,40.3,40.5,40.5
17,0500000US47035,47035,"Cumberland County, Tennessee",56053,56062,56197,56522,56894,57322,57836,...,48.3,48.3,48.4,48.8,49.2,49.6,50.0,50.4,50.8,51.4
18,0500000US47037,47037,"Davidson County, Tennessee",626681,626580,627973,635602,649326,659868,670314,...,33.9,33.9,34.0,34.2,34.2,34.3,34.4,34.4,34.4,34.4
19,0500000US47039,47039,"Decatur County, Tennessee",11757,11750,11718,11681,11633,11662,11680,...,44.3,44.3,44.3,44.6,45.2,45.4,45.5,45.6,45.4,45.8
20,0500000US47041,47041,"DeKalb County, Tennessee",18723,18720,18695,18758,18859,19112,19219,...,41.0,41.0,41.0,41.2,41.4,41.4,41.7,42.1,42.3,42.5
21,0500000US47043,47043,"Dickson County, Tennessee",49666,49658,49693,49924,50115,50131,50473,...,38.7,38.7,38.8,39.1,39.4,39.7,39.9,39.8,39.8,39.9
22,0500000US47045,47045,"Dyer County, Tennessee",38335,38330,38318,38110,38183,38088,37815,...,39.3,39.3,39.3,39.5,39.5,39.7,39.8,39.8,39.7,39.7
23,0500000US47047,47047,"Fayette County, Tennessee",38413,38439,38429,38566,38671,38821,39031,...,41.9,41.9,42.0,42.6,43.2,43.9,44.5,45.0,45.5,46.0
24,0500000US47049,47049,"Fentress County, Tennessee",17959,17960,17920,17993,17887,17910,17838,...,42.3,42.3,42.4,43.0,43.5,43.8,44.3,44.7,45.1,45.4
25,0500000US47051,47051,"Franklin County, Tennessee",41052,41064,40961,40818,40678,41173,41268,...,41.3,41.3,41.4,41.6,42.0,41.8,41.9,42.0,42.0,42.2
26,0500000US47053,47053,"Gibson County, Tennessee",49683,49691,49734,49829,49625,49330,49368,...,39.9,39.9,40.0,40.0,40.0,40.0,39.9,39.9,39.8,39.7
27,0500000US47055,47055,"Giles County, Tennessee",29485,29489,29420,29326,28969,28806,28824,...,42.1,42.1,42.3,42.6,43.1,43.2,43.5,43.8,43.8,43.7
28,0500000US47057,47057,"Grainger County, Tennessee",22657,22656,22721,22750,22689,22736,22865,...,42.1,42.1,42.2,42.7,43.2,43.7,43.8,44.4,44.6,45.1
29,0500000US47059,47059,"Greene County, Tennessee",68831,68825,68838,69090,68692,68293,68440,...,42.6,42.6,42.7,42.9,43.4,43.9,44.1,44.5,44.7,44.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,0500000US47131,47131,"Obion County, Tennessee",31807,31807,31821,31668,31306,31011,30815,...,41.4,41.4,41.4,41.6,41.8,42.2,42.5,42.6,42.8,42.8
66,0500000US47133,47133,"Overton County, Tennessee",22083,22084,22094,22161,22165,21971,21948,...,41.6,41.6,41.6,41.9,42.0,42.5,42.7,43.0,43.3,43.4
67,0500000US47135,47135,"Perry County, Tennessee",7915,7928,7938,7861,7848,7878,7819,...,43.1,43.1,43.0,43.2,43.2,43.3,43.4,43.5,43.5,43.4
68,0500000US47137,47137,"Pickett County, Tennessee",5077,5077,5073,5096,5037,5004,5068,...,47.2,47.2,47.4,47.6,48.2,48.5,48.8,48.9,49.6,50.4
69,0500000US47139,47139,"Polk County, Tennessee",16825,16826,16817,16745,16613,16636,16685,...,42.5,42.5,42.6,42.9,43.3,43.6,44.3,44.5,44.8,45.4
70,0500000US47141,47141,"Putnam County, Tennessee",72321,72347,72569,73016,73472,74015,74913,...,35.9,35.9,36.0,36.1,36.1,36.1,36.0,36.1,36.0,36.1
71,0500000US47143,47143,"Rhea County, Tennessee",31809,31802,31857,32065,32328,32463,32525,...,39.8,39.8,39.9,40.2,40.4,40.5,40.8,41.0,41.0,41.0
72,0500000US47145,47145,"Roane County, Tennessee",54181,54193,54157,53916,53558,53106,52827,...,44.9,44.9,45.0,45.4,46.0,46.3,46.5,46.8,46.9,47.2
73,0500000US47147,47147,"Robertson County, Tennessee",66283,66349,66355,66705,66728,67221,67869,...,37.6,37.6,37.7,38.0,38.2,38.2,38.4,38.6,38.7,38.9
74,0500000US47149,47149,"Rutherford County, Tennessee",262604,262592,263747,268966,274124,280914,288608,...,32.2,32.2,32.3,32.5,32.8,33.1,33.3,33.4,33.5,33.7
75,0500000US47151,47151,"Scott County, Tennessee",22228,22232,22227,22102,22136,21997,21986,...,38.1,38.1,38.2,38.5,38.5,38.8,38.9,39.2,39.4,39.6
76,0500000US47153,47153,"Sequatchie County, Tennessee",14112,14121,14127,14249,14343,14528,14634,...,40.6,40.6,40.8,41.5,42.0,42.4,42.8,43.1,43.4,44.0
77,0500000US47155,47155,"Sevier County, Tennessee",89889,89725,89948,91107,92231,93298,94570,...,40.9,40.9,41.0,41.3,41.7,42.1,42.4,42.7,43.0,43.3
78,0500000US47157,47157,"Shelby County, Tennessee",927644,927683,928552,933268,939425,938825,938434,...,34.6,34.6,34.6,34.7,34.8,34.9,35.1,35.3,35.5,35.6
79,0500000US47159,47159,"Smith County, Tennessee",19166,19149,19125,19131,19103,19040,19026,...,39.9,39.9,39.9,40.1,40.5,40.8,41.0,40.9,40.9,41.0
80,0500000US47161,47161,"Stewart County, Tennessee",13324,13313,13349,13228,13315,13297,13218,...,42.8,42.8,42.9,43.4,43.4,43.8,43.9,44.2,44.7,44.7
81,0500000US47163,47163,"Sullivan County, Tennessee",156823,156806,156755,156881,156385,156270,156513,...,43.6,43.6,43.7,43.9,44.2,44.3,44.5,44.8,45.0,45.2
82,0500000US47165,47165,"Sumner County, Tennessee",160645,160617,161199,163584,165783,168623,172183,...,38.6,38.6,38.7,38.9,39.1,39.2,39.3,39.5,39.5,39.5
83,0500000US47167,47167,"Tipton County, Tennessee",61081,61006,61066,61241,61509,61535,61566,...,36.6,36.6,36.6,36.8,37.0,37.3,37.5,37.7,38.0,38.1
84,0500000US47169,47169,"Trousdale County, Tennessee",7870,7864,7874,7810,7787,7801,7993,...,39.5,39.5,39.7,40.3,40.5,40.9,40.7,40.6,35.7,35.6
85,0500000US47171,47171,"Unicoi County, Tennessee",18313,18311,18284,18288,18227,18043,17905,...,44.9,44.9,45.1,45.0,45.5,45.9,46.2,46.5,46.8,46.7
86,0500000US47173,47173,"Union County, Tennessee",19109,19109,19118,19191,19103,19054,18990,...,40.1,40.2,40.3,40.5,41.1,41.4,41.7,41.9,42.5,42.7
87,0500000US47175,47175,"Van Buren County, Tennessee",5548,5558,5569,5535,5631,5573,5653,...,44.5,44.5,44.6,45.2,45.6,46.1,46.3,46.6,46.9,47.2
88,0500000US47177,47177,"Warren County, Tennessee",39839,39824,39860,39887,39731,39859,39934,...,39.3,39.3,39.4,39.6,40.0,40.1,40.3,40.2,40.2,40.3
89,0500000US47179,47179,"Washington County, Tennessee",122979,123065,123386,123858,124775,125353,125736,...,39.3,39.3,39.3,39.5,39.5,39.6,39.9,40.0,40.1,40.4
90,0500000US47181,47181,"Wayne County, Tennessee",17021,17027,16987,16942,16918,16850,16788,...,40.9,40.9,41.0,41.5,41.8,41.9,42.3,42.6,42.7,43.1
91,0500000US47183,47183,"Weakley County, Tennessee",35021,35015,35042,34855,34548,34144,33987,...,37.0,37.0,36.9,37.1,37.2,37.1,37.5,37.6,37.9,38.3
92,0500000US47185,47185,"White County, Tennessee",25841,25836,25821,26009,26017,26173,26229,...,42.0,42.0,42.1,42.1,42.4,42.5,42.6,42.7,42.8,42.8
93,0500000US47187,47187,"Williamson County, Tennessee",183182,183252,184130,188395,193073,198991,205213,...,38.5,38.5,38.6,38.8,38.9,38.9,38.9,39.0,39.0,39.0
94,0500000US47189,47189,"Wilson County, Tennessee",113993,114057,114677,116756,118991,121914,125146,...,39.3,39.3,39.3,39.7,40.0,40.1,40.1,40.2,40.0,39.9

In [134]:
#drop april data from columns
april_data = [col for col in pop_df.columns if col.startswith('April')]
pop_df = pop_df.drop(april_data, axis = 1)
#drop id and id2 columns
id_data = [col for col in pop_df.columns if col.startswith('Id')]
pop_df = pop_df.drop(id_data, axis = 1)
pop_df

,Geography,Population Estimate (as of July 1) - 2010 - Both Sexes; Total,Population Estimate (as of July 1) - 2011 - Both Sexes; Total,Population Estimate (as of July 1) - 2012 - Both Sexes; Total,Population Estimate (as of July 1) - 2013 - Both Sexes; Total,Population Estimate (as of July 1) - 2014 - Both Sexes; Total,Population Estimate (as of July 1) - 2015 - Both Sexes; Total,Population Estimate (as of July 1) - 2016 - Both Sexes; Total,Population Estimate (as of July 1) - 2017 - Both Sexes; Total,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - Under 5 years,...,Population Estimate (as of July 1) - 2016 - Both Sexes; 15 to 44 years,Population Estimate (as of July 1) - 2017 - Both Sexes; 15 to 44 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2011 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2012 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2013 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)
0,"Anderson County, Tennessee",75112,75173,75196,75258,75131,75459,75585,76257,4208,...,26203,26515,42.6,42.8,42.9,43.1,43.3,43.3,43.3,43.2
1,"Bedford County, Tennessee",45086,45227,45262,45584,46259,46892,47420,48117,3431,...,18137,18420,36.5,36.9,37.2,37.2,37.2,37.2,37.5,37.5
2,"Benton County, Tennessee",16511,16488,16414,16358,16176,16192,16059,15986,834,...,5014,4933,45.6,45.9,46.3,46.6,46.7,46.6,47.1,47.4
3,"Bledsoe County, Tennessee",12882,12906,12851,13846,14419,14483,14599,14717,633,...,5745,5719,42.5,42.7,43.3,43.1,43.3,43.4,43.5,43.9
4,"Blount County, Tennessee",123213,123653,123904,124844,125827,126832,128244,129929,6811,...,45026,45414,41.5,42.0,42.3,42.7,43.1,43.4,43.7,43.8
5,"Bradley County, Tennessee",99096,99838,101061,101747,102816,103802,104407,105560,6002,...,40559,41029,38.2,38.6,38.7,38.9,39.0,39.2,39.5,39.7
6,"Campbell County, Tennessee",40735,40567,40478,40217,39895,39687,39671,39648,2308,...,13778,13704,41.9,42.3,42.6,43.0,43.3,43.6,43.8,44.0
7,"Cannon County, Tennessee",13801,13723,13803,13704,13614,13754,13907,14216,793,...,4922,4988,41.5,42.0,42.2,42.6,42.6,42.7,42.8,42.5
8,"Carroll County, Tennessee",28448,28530,28652,28588,28358,27953,27924,27860,1639,...,9851,9724,42.0,41.9,41.8,41.9,42.2,42.5,42.5,42.7
9,"Carter County, Tennessee",57340,57353,57254,56917,56270,56366,56458,56488,3013,...,19485,19365,42.3,42.7,43.1,43.7,44.3,44.6,45.0,45.3
10,"Cheatham County, Tennessee",39122,38971,39220,39334,39604,39571,39728,40330,2424,...,14709,14905,39.4,39.7,40.0,40.3,40.5,40.9,41.0,40.9
11,"Chester County, Tennessee",17193,17126,17052,17079,17101,17083,17102,17119,980,...,6942,6926,36.3,36.6,37.1,37.3,37.5,37.8,37.8,38.0
12,"Claiborne County, Tennessee",32216,32087,31746,31613,31529,31517,31561,31609,1645,...,11713,11638,41.1,41.6,42.2,42.6,42.7,42.9,43.0,43.2
13,"Clay County, Tennessee",7851,7767,7727,7708,7639,7683,7688,7703,470,...,2364,2322,45.1,45.7,46.0,46.2,46.5,46.8,46.8,47.3
14,"Cocke County, Tennessee",35641,35401,35455,35325,35201,35068,35160,35556,1999,...,11599,11619,43.0,43.6,43.8,44.0,44.4,44.8,45.1,45.3
15,"Coffee County, Tennessee",52770,52909,53144,53295,53521,54094,54428,55034,3472,...,19746,19871,39.8,39.9,40.0,39.9,40.0,39.8,39.8,39.8
16,"Crockett County, Tennessee",14588,14558,14610,14608,14645,14578,14467,14473,974,...,5120,5106,39.6,39.9,39.9,39.9,40.0,40.3,40.5,40.5
17,"Cumberland County, Tennessee",56197,56522,56894,57322,57836,58122,58532,59078,2785,...,16690,16611,48.4,48.8,49.2,49.6,50.0,50.4,50.8,51.4
18,"Davidson County, Tennessee",627973,635602,649326,659868,670314,681285,688901,691243,44833,...,319773,321806,34.0,34.2,34.2,34.3,34.4,34.4,34.4,34.4
19,"Decatur County, Tennessee",11718,11681,11633,11662,11680,11600,11711,11751,658,...,3733,3771,44.3,44.6,45.2,45.4,45.5,45.6,45.4,45.8
20,"DeKalb County, Tennessee",18695,18758,18859,19112,19219,19274,19442,19852,1147,...,6917,7029,41.0,41.2,41.4,41.4,41.7,42.1,42.3,42.5
21,"Dickson County, Tennessee",49693,49924,50115,50131,50473,51327,51922,52853,3275,...,19314,19650,38.8,39.1,39.4,39.7,39.9,39.8,39.8,39.9
22,"Dyer County, Tennessee",38318,38110,38183,38088,37815,37782,37605,37463,2450,...,13770,13705,39.3,39.5,39.5,39.7,39.8,39.8,39.7,39.7
23,"Fayette County, Tennessee",38429,38566,38671,38821,39031,39218,39575,40036,2456,...,13111,13151,42.0,42.6,43.2,43.9,44.5,45.0,45.5,46.0
24,"Fentress County, Tennessee",17920,17993,17887,17910,17838,17860,17955,18136,1025,...,5842,5865,42.4,43.0,43.5,43.8,44.3,44.7,45.1,45.4
25,"Franklin County, Tennessee",40961,40818,40678,41173,41268,41324,41567,41652,2125,...,15428,15439,41.4,41.6,42.0,41.8,41.9,42.0,42.0,42.2
26,"Gibson County, Tennessee",49734,49829,49625,49330,49368,49196,49103,49111,3219,...,17780,17739,40.0,40.0,40.0,40.0,39.9,39.9,39.8,39.7
27,"Giles County, Tennessee",29420,29326,28969,28806,28824,28950,29140,29401,1689,...,10028,10060,42.3,42.6,43.1,43.2,43.5,43.8,43.8,43.7
28,"Grainger County, Tennessee",22721,22750,22689,22736,22865,22851,23112,23144,1344,...,7787,7700,42.2,42.7,43.2,43.7,43.8,44.4,44.6,45.1
29,"Greene County, Tennessee",68838,69090,68692,68293,68440,68500,68559,68808,3656,...,23590,23499,42.7,42.9,43.4,43.9,44.1,44.5,44.7,44.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,"Obion County, Tennessee",31821,31668,31306,31011,30815,30559,30526,30385,1750,...,10677,10581,41.4,41.6,41.8,42.2,42.5,42.6,42.8,42.8
66,"Overton County, Tennessee",22094,22161,22165,21971,21948,22067,21978,22012,1307,...,7578,7561,41.6,41.9,42.0,42.5,42.7,43.0,43.3,43.4
67,"Perry County, Tennessee",7938,7861,7848,7878,7819,7848,7892,7975,476,...,2663,2674,43.0,43.2,43.2,43.3,43.4,43.5,43.5,43.4
68,"Pickett County, Tennessee",5073,5096,5037,5004,5068,5126,5085,5073,237,...,1483,1469,47.4,47.6,48.2,48.5,48.8,48.9,49.6,50.4
69,"Polk County, Tennessee",16817,16745,16613,16636,16685,16763,16770,16757,888,...,5748,5624,42.6,42.9,43.3,43.6,44.3,44.5,44.8,45.4
70,"Putnam County, Tennessee",72569,73016,73472,74015,74913,75098,76123,77674,4338,...,32287,32919,36.0,36.1,36.1,36.1,36.0,36.1,36.0,36.1
71,"Rhea County, Tennessee",31857,32065,32328,32463,32525,32320,32392,32691,1975,...,11653,11790,39.9,40.2,40.4,40.5,40.8,41.0,41.0,41.0
72,"Roane County, Tennessee",54157,53916,53558,53106,52827,52748,52913,53036,2682,...,16901,16855,45.0,45.4,46.0,46.3,46.5,46.8,46.9,47.2
73,"Robertson County, Tennessee",66355,66705,66728,67221,67869,68429,69177,70177,4550,...,26172,26448,37.7,38.0,38.2,38.2,38.4,38.6,38.7,38.9
74,"Rutherford County, Tennessee",263747,268966,274124,280914,288608,297920,307683,317157,19238,...,140463,144566,32.3,32.5,32.8,33.1,33.3,33.4,33.5,33.7
75,"Scott County, Tennessee",22227,22102,22136,21997,21986,21881,21892,21989,1469,...,8101,8143,38.2,38.5,38.5,38.8,38.9,39.2,39.4,39.6
76,"Sequatchie County, Tennessee",14127,14249,14343,14528,14634,14631,14740,14736,861,...,5095,5061,40.8,41.5,42.0,42.4,42.8,43.1,43.4,44.0
77,"Sevier County, Tennessee",89948,91107,92231,93298,94570,95502,96609,97638,5264,...,34200,34139,41.0,41.3,41.7,42.1,42.4,42.7,43.0,43.3
78,"Shelby County, Tennessee",928552,933268,939425,938825,938434,937885,937130,936961,66703,...,383792,382066,34.6,34.7,34.8,34.9,35.1,35.3,35.5,35.6
79,"Smith County, Tennessee",19125,19131,19103,19040,19026,19228,19466,19636,1166,...,6999,7084,39.9,40.1,40.5,40.8,41.0,40.9,40.9,41.0
80,"Stewart County, Tennessee",13349,13228,13315,13297,13218,13198,13174,13355,687,...,4410,4503,42.9,43.4,43.4,43.8,43.9,44.2,44.7,44.7
81,"Sullivan County, Tennessee",156755,156881,156385,156270,156513,156318,156335,157158,8223,...,53242,53215,43.7,43.9,44.2,44.3,44.5,44.8,45.0,45.2
82,"Sumner County, Tennessee",161199,163584,165783,168623,172183,175193,179108,183545,10462,...,67430,69099,38.7,38.9,39.1,39.2,39.3,39.5,39.5,39.5
83,"Tipton County, Tennessee",61066,61241,61509,61535,61566,61525,61176,61366,4082,...,23591,23639,36.6,36.8,37.0,37.3,37.5,37.7,38.0,38.1
84,"Trousdale County, Tennessee",7874,7810,7787,7801,7993,8040,9950,10083,482,...,4536,4568,39.7,40.3,40.5,40.9,40.7,40.6,35.7,35.6
85,"Unicoi County, Tennessee",18284,18288,18227,18043,17905,17779,17665,17759,912,...,5740,5775,45.1,45.0,45.5,45.9,46.2,46.5,46.8,46.7
86,"Union County, Tennessee",19118,19191,19103,19054,18990,19161,19232,19442,1258,...,6684,6694,40.3,40.5,41.1,41.4,41.7,41.9,42.5,42.7
87,"Van Buren County, Tennessee",5569,5535,5631,5573,5653,5692,5716,5742,283,...,1794,1803,44.6,45.2,45.6,46.1,46.3,46.6,46.9,47.2
88,"Warren County, Tennessee",39860,39887,39731,39859,39934,40206,40400,40651,2577,...,14721,14879,39.4,39.6,40.0,40.1,40.3,40.2,40.2,40.3
89,"Washington County, Tennessee",123386,123858,124775,125353,125736,126072,127220,127806,6684,...,50908,50711,39.3,39.5,39.5,39.6,39.9,40.0,40.1,40.4
90,"Wayne County, Tennessee",16987,16942,16918,16850,16788,16677,16665,16583,835,...,6505,6403,41.0,41.5,41.8,41.9,42.3,42.6,42.7,43.1
91,"Weakley County, Tennessee",35042,34855,34548,34144,33987,33846,33568,33337,1892,...,13835,13564,36.9,37.1,37.2,37.1,37.5,37.6,37.9,38.3
92,"White County, Tennessee",25821,26009,26017,26173,26229,26362,26451,26753,1507,...,9150,9241,42.1,42.1,42.4,42.5,42.6,42.7,42.8,42.8
93,"Williamson County, Tennessee",184130,188395,193073,198991,205213,211456,218888,226257,12275,...,79966,82792,38.6,38.8,38.9,38.9,38.9,39.0,39.0,39.0
94,"Wilson County, Tennessee",114677,116756,118991,121914,125146,128434,132433,136442,7336,...,49319,50842,39.3,39.7,40.0,40.1,40.1,40.2,40.0,39.9

In [135]:
pop_df.shape

(95, 265)

In [136]:
#drop years 2011, 2012, 2015, 2016
year2011_data = [col for col in pop_df.columns if col.startswith('Population Estimate (as of July 1) - 2011')]
pop_df = pop_df.drop(year2011_data, axis = 1)
year2012_data = [col for col in pop_df.columns if col.startswith('Population Estimate (as of July 1) - 2012')]
pop_df = pop_df.drop(year2012_data, axis = 1)
year2013_data = [col for col in pop_df.columns if col.startswith('Population Estimate (as of July 1) - 2013')]
pop_df = pop_df.drop(year2013_data, axis = 1)
year2015_data = [col for col in pop_df.columns if col.startswith('Population Estimate (as of July 1) - 2015')]
pop_df = pop_df.drop(year2015_data, axis = 1)
year2016_data = [col for col in pop_df.columns if col.startswith('Population Estimate (as of July 1) - 2016')]
pop_df = pop_df.drop(year2016_data, axis = 1)

In [137]:
pop_df

,Geography,Population Estimate (as of July 1) - 2010 - Both Sexes; Total,Population Estimate (as of July 1) - 2014 - Both Sexes; Total,Population Estimate (as of July 1) - 2017 - Both Sexes; Total,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - Under 5 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - Under 5 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - Under 5 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 5 to 9 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 5 to 9 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 5 to 9 years,...,Population Estimate (as of July 1) - 2017 - Both Sexes; 16 years and over,Population Estimate (as of July 1) - 2010 - Both Sexes; 18 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; 18 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; 18 years and over,Population Estimate (as of July 1) - 2010 - Both Sexes; 15 to 44 years,Population Estimate (as of July 1) - 2014 - Both Sexes; 15 to 44 years,Population Estimate (as of July 1) - 2017 - Both Sexes; 15 to 44 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)
0,"Anderson County, Tennessee",75112,75131,76257,4208,3988,4093,4583,4456,4397,...,62034,58702,59250,60119,26467,26283,26515,42.6,43.3,43.2
1,"Bedford County, Tennessee",45086,46259,48117,3431,3108,3248,3339,3500,3360,...,37240,33040,34209,35826,17788,17818,18420,36.5,37.2,37.5
2,"Benton County, Tennessee",16511,16176,15986,834,834,825,851,873,875,...,13229,13143,12988,12870,5403,5119,4933,45.6,46.7,47.4
3,"Bledsoe County, Tennessee",12882,14419,14717,633,576,624,729,619,602,...,12715,10144,11992,12363,4777,5668,5719,42.5,43.3,43.9
4,"Blount County, Tennessee",123213,125827,129929,6811,6502,6566,7561,7232,7126,...,106832,95911,99212,103380,45266,44813,45414,41.5,43.1,43.8
5,"Bradley County, Tennessee",99096,102816,105560,6002,5974,5984,6409,6381,6176,...,85228,76355,79652,82363,39834,40549,41029,38.2,39.0,39.7
6,"Campbell County, Tennessee",40735,39895,39648,2308,2123,2162,2487,2352,2154,...,32505,31801,31483,31454,14795,13976,13704,41.9,43.3,44.0
7,"Cannon County, Tennessee",13801,13614,14216,793,726,823,836,830,847,...,11510,10715,10710,11181,5105,4879,4988,41.5,42.6,42.5
8,"Carroll County, Tennessee",28448,28358,27860,1639,1600,1567,1716,1684,1701,...,22596,22218,22273,21919,10226,10201,9724,42.0,42.2,42.7
9,"Carter County, Tennessee",57340,56270,56488,3013,2612,2600,3130,3054,2861,...,47186,45888,45459,45846,21277,19878,19365,42.3,44.3,45.3
10,"Cheatham County, Tennessee",39122,39604,40330,2424,2178,2344,2569,2611,2364,...,32331,29418,30291,31194,15091,14859,14905,39.4,40.5,40.9
11,"Chester County, Tennessee",17193,17101,17119,980,984,936,1054,1011,1009,...,13846,13200,13244,13319,7170,6988,6926,36.3,37.5,38.0
12,"Claiborne County, Tennessee",32216,31529,31609,1645,1542,1558,1862,1657,1594,...,26366,25446,25331,25578,12419,11767,11638,41.1,42.7,43.2
13,"Clay County, Tennessee",7851,7639,7703,470,405,404,433,482,432,...,6328,6211,6084,6152,2556,2351,2322,45.1,46.5,47.3
14,"Cocke County, Tennessee",35641,35201,35556,1999,1880,1897,2089,2036,1962,...,29140,28011,27835,28289,12491,11889,11619,43.0,44.4,45.3
15,"Coffee County, Tennessee",52770,53521,55034,3472,3396,3510,3491,3640,3642,...,43337,39951,40641,41824,19348,19454,19871,39.8,40.0,39.8
16,"Crockett County, Tennessee",14588,14645,14473,974,915,887,995,996,950,...,11413,11018,11063,11002,5286,5257,5106,39.6,40.0,40.5
17,"Cumberland County, Tennessee",56197,57836,59078,2785,2874,2831,2842,2881,2949,...,49754,45498,47234,48530,16805,16989,16611,48.4,50.0,51.4
18,"Davidson County, Tennessee",627973,670314,691243,44833,46496,46713,37774,41855,40755,...,559647,491211,525495,545576,292568,309788,321806,34.0,34.4,34.4
19,"Decatur County, Tennessee",11718,11680,11751,658,623,675,703,652,620,...,9575,9207,9266,9270,3905,3740,3771,44.3,45.5,45.8
20,"DeKalb County, Tennessee",18695,19219,19852,1147,1133,1175,1208,1247,1198,...,16037,14407,14895,15524,6801,6911,7029,41.0,41.7,42.5
21,"Dickson County, Tennessee",49693,50473,52853,3275,3082,3275,3448,3293,3321,...,41970,37261,38558,40499,19123,18952,19650,38.8,39.9,39.9
22,"Dyer County, Tennessee",38318,37815,37463,2450,2389,2303,2593,2504,2442,...,29600,28806,28719,28487,14379,13899,13705,39.3,39.8,39.7
23,"Fayette County, Tennessee",38429,39031,40036,2456,2134,2084,2495,2221,2068,...,33183,29602,30880,32180,13244,13097,13151,42.0,44.5,46.0
24,"Fentress County, Tennessee",17920,17838,18136,1025,961,994,1141,1024,999,...,14788,13774,13909,14288,6184,5956,5865,42.4,44.3,45.4
25,"Franklin County, Tennessee",40961,41268,41652,2125,2024,2084,2542,2309,2192,...,34364,32053,32613,33231,14887,15240,15439,41.4,41.9,42.2
26,"Gibson County, Tennessee",49734,49368,49111,3219,3094,3157,3453,3317,3305,...,38513,37340,37341,37039,17854,17956,17739,40.0,39.9,39.7
27,"Giles County, Tennessee",29420,28824,29401,1689,1502,1686,1709,1697,1649,...,23963,22966,22811,23219,10455,10051,10060,42.3,43.5,43.7
28,"Grainger County, Tennessee",22721,22865,23144,1344,1117,1125,1365,1377,1276,...,18986,17650,18031,18367,8161,7911,7700,42.2,43.8,45.1
29,"Greene County, Tennessee",68838,68440,68808,3656,3213,3357,3962,3877,3532,...,57003,54309,54670,55261,24709,23904,23499,42.7,44.1,44.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,"Obion County, Tennessee",31821,30815,30385,1750,1768,1739,2003,1778,1855,...,24563,24589,23993,23722,11459,10909,10581,41.4,42.5,42.8
66,"Overton County, Tennessee",22094,21948,22012,1307,1200,1152,1471,1383,1302,...,17852,16968,17020,17258,7791,7569,7561,41.6,42.7,43.4
67,"Perry County, Tennessee",7938,7819,7975,476,466,505,462,469,474,...,6440,6144,6082,6237,2696,2643,2674,43.0,43.4,43.4
68,"Pickett County, Tennessee",5073,5068,5073,237,210,236,295,259,210,...,4273,4095,4100,4158,1529,1500,1469,47.4,48.8,50.4
69,"Polk County, Tennessee",16817,16685,16757,888,782,843,1005,946,843,...,13891,13108,13230,13445,5944,5760,5624,42.6,44.3,45.4
70,"Putnam County, Tennessee",72569,74913,77674,4338,4391,4551,4353,4399,4406,...,63139,56962,58998,61195,31113,31850,32919,36.0,36.0,36.1
71,"Rhea County, Tennessee",31857,32525,32691,1975,1879,1929,2139,2152,1930,...,26160,24400,24969,25265,11847,11861,11790,39.9,40.8,41.0
72,"Roane County, Tennessee",54157,52827,53036,2682,2390,2408,3057,2788,2623,...,44348,42912,42424,42981,17869,16966,16855,45.0,46.5,47.2
73,"Robertson County, Tennessee",66355,67869,70177,4550,4445,4410,4836,4718,4690,...,55219,49337,50936,53152,25848,25880,26448,37.7,38.4,38.9
74,"Rutherford County, Tennessee",263747,288608,317157,19238,19072,21092,19335,20800,21555,...,247642,194923,216080,238789,123621,132991,144566,32.3,33.3,33.7
75,"Scott County, Tennessee",22227,21986,21989,1469,1368,1414,1621,1479,1378,...,17256,16611,16560,16621,8619,8229,8143,38.2,38.9,39.6
76,"Sequatchie County, Tennessee",14127,14634,14736,861,786,729,935,925,806,...,12044,10830,11368,11623,5148,5070,5061,40.8,42.8,44.0
77,"Sevier County, Tennessee",89948,94570,97638,5264,5257,5359,5294,5463,5569,...,79762,70084,74518,77293,33637,34380,34139,41.0,42.4,43.3
78,"Shelby County, Tennessee",928552,938434,936961,66703,67612,66034,64978,66216,66151,...,728766,684325,699145,702585,392891,389798,382066,34.6,35.1,35.6
79,"Smith County, Tennessee",19125,19026,19636,1166,1122,1185,1279,1230,1171,...,15704,14501,14517,15119,7104,6806,7084,39.9,41.0,41.0
80,"Stewart County, Tennessee",13349,13218,13355,687,699,701,853,754,699,...,10945,10315,10378,10579,4623,4502,4503,42.9,43.9,44.7
81,"Sullivan County, Tennessee",156755,156513,157158,8223,7873,7802,8711,8556,8264,...,130353,124537,125386,126506,54984,53909,53215,43.7,44.5,45.2
82,"Sumner County, Tennessee",161199,172183,183545,10462,10538,11195,11322,11717,12019,...,145126,120513,130086,139846,62167,65580,69099,38.7,39.3,39.5
83,"Tipton County, Tennessee",61066,61566,61366,4082,3782,3757,4466,4330,4120,...,48053,44469,45753,46103,24344,24028,23639,36.6,37.5,38.1
84,"Trousdale County, Tennessee",7874,7993,10083,482,479,532,495,520,540,...,8375,5955,6152,8156,2971,2958,4568,39.7,40.7,35.6
85,"Unicoi County, Tennessee",18284,17905,17759,912,809,790,1051,945,889,...,14872,14617,14432,14416,6056,5833,5775,45.1,46.2,46.7
86,"Union County, Tennessee",19118,18990,19442,1258,1034,1088,1282,1246,1186,...,15626,14588,14676,15158,7058,6707,6694,40.3,41.7,42.7
87,"Van Buren County, Tennessee",5569,5653,5742,283,284,318,329,298,276,...,4754,4419,4561,4628,1870,1842,1803,44.6,46.3,47.2
88,"Warren County, Tennessee",39860,39934,40651,2577,2412,2481,2828,2660,2582,...,32158,30168,30434,31001,14866,14618,14879,39.4,40.3,40.3
89,"Washington County, Tennessee",123386,125736,127806,6684,6657,6541,6903,6893,6681,...,106104,98497,100860,103229,50376,50825,50711,39.3,39.9,40.4
90,"Wayne County, Tennessee",16987,16788,16583,835,729,695,865,831,752,...,14111,13676,13726,13711,6845,6586,6403,41.0,42.3,43.1
91,"Weakley County, Tennessee",35042,33987,33337,1892,1787,1722,1854,1806,1815,...,27662,28005,27282,26849,15028,14199,13564,36.9,37.5,38.3
92,"White County, Tennessee",25821,26229,26753,1507,1573,1550,1595,1570,1583,...,21618,20031,20413,20909,9112,9107,9241,42.1,42.6,42.8
93,"Williamson County, Tennessee",184130,205213,226257,12275,12261,13577,15698,16344,16930,...,172035,130449,147593,164123,67794,75404,82792,38.6,38.9,39.0
94,"Wilson County, Tennessee",114677,125146,136442,7336,7460,8215,8067,8472,8996,...,107792,86007,94801,103791,43584,46485,50842,39.3,40.1,39.9

In [138]:
pop_df.shape

(95, 100)

In [139]:
print(pop_df)

                       Geography  \
0     Anderson County, Tennessee
1      Bedford County, Tennessee
2       Benton County, Tennessee
3      Bledsoe County, Tennessee
4       Blount County, Tennessee
5      Bradley County, Tennessee
6     Campbell County, Tennessee
7       Cannon County, Tennessee
8      Carroll County, Tennessee
9       Carter County, Tennessee
10    Cheatham County, Tennessee
11     Chester County, Tennessee
12   Claiborne County, Tennessee
13        Clay County, Tennessee
14       Cocke County, Tennessee
15      Coffee County, Tennessee
16    Crockett County, Tennessee
17  Cumberland County, Tennessee
18    Davidson County, Tennessee
19     Decatur County, Tennessee
20      DeKalb County, Tennessee
21     Dickson County, Tennessee
22        Dyer County, Tennessee
23     Fayette County, Tennessee
24    Fentress County, Tennessee
25    Franklin County, Tennessee
26      Gibson County, Tennessee
27       Giles County, Tennessee
28    Grainger County, Tennessee
29      Greene County, Tennessee
..                           ...
65       Obion County, Tennessee
66     Overton County, Tennessee
67       Perry County, Tennessee
68     Pickett County, Tennessee
69        Polk County, Tennessee
70      Putnam County, Tennessee
71        Rhea County, Tennessee
72       Roane County, Tennessee
73   Robertson County, Tennessee
74  Rutherford County, Tennessee
75       Scott County, Tennessee
76  Sequatchie County, Tennessee
77      Sevier County, Tennessee
78      Shelby County, Tennessee
79       Smith County, Tennessee
80     Stewart County, Tennessee
81    Sullivan County, Tennessee
82      Sumner County, Tennessee
83      Tipton County, Tennessee
84   Trousdale County, Tennessee
85      Unicoi County, Tennessee
86       Union County, Tennessee
87   Van Buren County, Tennessee
88      Warren County, Tennessee
89  Washington County, Tennessee
90       Wayne County, Tennessee
91     Weakley County, Tennessee
92       White County, Tennessee
93  Williamson County, Tennessee
94      Wilson County, Tennessee

    Population Estimate (as of July 1) - 2010 - Both Sexes; Total  \
0                                               75112
1                                               45086
2                                               16511
3                                               12882
4                                              123213
5                                               99096
6                                               40735
7                                               13801
8                                               28448
9                                               57340
10                                              39122
11                                              17193
12                                              32216
13                                               7851
14                                              35641
15                                              52770
16                                              14588
17                                              56197
18                                             627973
19                                              11718
20                                              18695
21                                              49693
22                                              38318
23                                              38429
24                                              17920
25                                              40961
26                                              49734
27                                              29420
28                                              22721
29                                              68838
..                                                ...
65                                              31821
66                                              22094
67                                               7938
68                                               5073
69                                              16817
70                                              72569
71                                              31857
72                                              54157
73                                              66355
74                                             263747
75                                              22227
76                                              14127
77                                              89948
78                                             928552
79                                              19125
80                                              13349
81                                             156755
82                                             161199
83                                              61066
84                                               7874
85                                              18284
86                                              19118
87                                               5569
88                                              39860
89                                             123386
90                                              16987
91                                              35042
92                                              25821
93                                             184130
94                                             114677

    Population Estimate (as of July 1) - 2014 - Both Sexes; Total  \
0                                               75131
1                                               46259
2                                               16176
3                                               14419
4                                              125827
5                                              102816
6                                               39895
7                                               13614
8                                               28358
9                                               56270
10                                              39604
11                                              17101
12                                              31529
13                                               7639
14                                              35201
15                                              53521
16                                              14645
17                                              57836
18                                             670314
19                                              11680
20                                              19219
21                                              50473
22                                              37815
23                                              39031
24                                              17838
25                                              41268
26                                              49368
27                                              28824
28                                              22865
29                                              68440
..                                                ...
65                                              30815
66                                              21948
67                                               7819
68                                               5068
69                                              16685
70                                              74913
71                                              32525
72                                              52827
73                                              67869
74                                             288608
75                                              21986
76                                              14634
77                                              94570
78                                             938434
79                                              19026
80                                              13218
81                                             156513
82                                             172183
83                                              61566
84                                               7993
85                                              17905
86                                              18990
87                                               5653
88                                              39934
89                                             125736
90                                              16788
91                                              33987
92                                              26229
93                                             205213
94                                             125146

    Population Estimate (as of July 1) - 2017 - Both Sexes; Total  \
0                                               76257
1                                               48117
2                                               15986
3                                               14717
4                                              129929
5                                              105560
6                                               39648
7                                               14216
8                                               27860
9                                               56488
10                                              40330
11                                              17119
12                                              31609
13                                               7703
14                                              35556
15                                              55034
16                                              14473
17                                              59078
18                                             691243
19                                              11751
20                                              19852
21                                              52853
22                                              37463
23                                              40036
24                                              18136
25                                              41652
26                                              49111
27                                              29401
28                                              23144
29                                              68808
..                                                ...
65                                              30385
66                                              22012
67                                               7975
68                                               5073
69                                              16757
70                                              77674
71                                              32691
72                                              53036
73                                              70177
74                                             317157
75                                              21989
76                                              14736
77                                              97638
78                                             936961
79                                              19636
80                                              13355
81                                             157158
82                                             183545
83                                              61366
84                                              10083
85                                              17759
86                                              19442
87                                               5742
88                                              40651
89                                             127806
90                                              16583
91                                              33337
92                                              26753
93                                             226257
94                                             136442

    Population Estimate (as of July 1) - 2010 - Both Sexes; Total - Under 5 years  \
0                                                4208
1                                                3431
2                                                 834
3                                                 633
4                                                6811
5                                                6002
6                                                2308
7                                                 793
8                                                1639
9                                                3013
10                                               2424
11                                                980
12                                               1645
13                                                470
14                                               1999
15                                               3472
16                                                974
17                                               2785
18                                              44833
19                                                658
20                                               1147
21                                               3275
22                                               2450
23                                               2456
24                                               1025
25                                               2125
26                                               3219
27                                               1689
28                                               1344
29                                               3656
..                                                ...
65                                               1750
66                                               1307
67                                                476
68                                                237
69                                                888
70                                               4338
71                                               1975
72                                               2682
73                                               4550
74                                              19238
75                                               1469
76                                                861
77                                               5264
78                                              66703
79                                               1166
80                                                687
81                                               8223
82                                              10462
83                                               4082
84                                                482
85                                                912
86                                               1258
87                                                283
88                                               2577
89                                               6684
90                                                835
91                                               1892
92                                               1507
93                                              12275
94                                               7336

    Population Estimate (as of July 1) - 2014 - Both Sexes; Total - Under 5 years  \
0                                                3988
1                                                3108
2                                                 834
3                                                 576
4                                                6502
5                                                5974
6                                                2123
7                                                 726
8                                                1600
9                                                2612
10                                               2178
11                                                984
12                                               1542
13                                                405
14                                               1880
15                                               3396
16                                                915
17                                               2874
18                                              46496
19                                                623
20                                               1133
21                                               3082
22                                               2389
23                                               2134
24                                                961
25                                               2024
26                                               3094
27                                               1502
28                                               1117
29                                               3213
..                                                ...
65                                               1768
66                                               1200
67                                                466
68                                                210
69                                                782
70                                               4391
71                                               1879
72                                               2390
73                                               4445
74                                              19072
75                                               1368
76                                                786
77                                               5257
78                                              67612
79                                               1122
80                                                699
81                                               7873
82                                              10538
83                                               3782
84                                                479
85                                                809
86                                               1034
87                                                284
88                                               2412
89                                               6657
90                                                729
91                                               1787
92                                               1573
93                                              12261
94                                               7460

    Population Estimate (as of July 1) - 2017 - Both Sexes; Total - Under 5 years  \
0                                                4093
1                                                3248
2                                                 825
3                                                 624
4                                                6566
5                                                5984
6                                                2162
7                                                 823
8                                                1567
9                                                2600
10                                               2344
11                                                936
12                                               1558
13                                                404
14                                               1897
15                                               3510
16                                                887
17                                               2831

In [140]:
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='Under 5 years')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='5 to 9 years')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='10 to 14 years')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='15 to 19 years')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='15 to 44 years')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='20 to 24 years')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='25 to 29 years')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='30 to 34 years')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='35 to 39 years')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='40 to 44 years')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='45 to 49 years')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='16')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='18')))]
pop_df = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='65 years and over')))]
pop_df

,Geography,Population Estimate (as of July 1) - 2010 - Both Sexes; Total,Population Estimate (as of July 1) - 2014 - Both Sexes; Total,Population Estimate (as of July 1) - 2017 - Both Sexes; Total,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years,...,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over,Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)
0,"Anderson County, Tennessee",75112,75131,76257,5850,5690,5296,5577,5689,5643,...,1785,2135,2211,2173,2135,2211,2173,42.6,43.3,43.2
1,"Bedford County, Tennessee",45086,46259,48117,3043,3207,3239,2646,2938,3143,...,811,647,679,640,647,679,640,36.5,37.2,37.5
2,"Benton County, Tennessee",16511,16176,15986,1259,1204,1179,1224,1239,1206,...,418,362,409,415,362,409,415,45.6,46.7,47.4
3,"Bledsoe County, Tennessee",12882,14419,14717,1005,1216,1185,903,1100,1197,...,267,178,209,264,178,209,264,42.5,43.3,43.9
4,"Blount County, Tennessee",123213,125827,129929,9152,9658,9522,8657,9094,9615,...,2939,2390,2656,2786,2390,2656,2786,41.5,43.1,43.8
5,"Bradley County, Tennessee",99096,102816,105560,6967,7306,7216,6177,6774,7199,...,2118,1446,1714,1872,1446,1714,1872,38.2,39.0,39.7
6,"Campbell County, Tennessee",40735,39895,39648,2883,2863,2866,2864,2810,2719,...,967,706,741,819,706,741,819,41.9,43.3,44.0
7,"Cannon County, Tennessee",13801,13614,14216,1093,1080,1081,930,994,1059,...,307,257,262,279,257,262,279,41.5,42.6,42.5
8,"Carroll County, Tennessee",28448,28358,27860,1966,2044,1959,1945,1944,1968,...,691,669,661,670,669,661,670,42.0,42.2,42.7
9,"Carter County, Tennessee",57340,56270,56488,4311,4195,4145,4099,4273,4124,...,1434,1101,1309,1395,1101,1309,1395,42.3,44.3,45.3
10,"Cheatham County, Tennessee",39122,39604,40330,3249,3397,3280,2723,2974,3224,...,594,360,395,461,360,395,461,39.4,40.5,40.9
11,"Chester County, Tennessee",17193,17101,17119,1112,1132,1090,990,1099,1117,...,367,342,353,360,342,353,360,36.3,37.5,38.0
12,"Claiborne County, Tennessee",32216,31529,31609,2374,2180,2262,2361,2359,2218,...,740,517,508,529,517,508,529,41.1,42.7,43.2
13,"Clay County, Tennessee",7851,7639,7703,557,582,581,570,546,551,...,215,153,175,190,153,175,190,45.1,46.5,47.3
14,"Cocke County, Tennessee",35641,35201,35556,2784,2758,2618,2669,2748,2780,...,847,549,570,621,549,570,621,43.0,44.4,45.3
15,"Coffee County, Tennessee",52770,53521,55034,3841,3938,3796,3433,3710,3857,...,1218,966,1003,1085,966,1003,1085,39.8,40.0,39.8
16,"Crockett County, Tennessee",14588,14645,14473,1043,1122,1019,901,964,1036,...,343,345,360,342,345,360,342,39.6,40.0,40.5
17,"Cumberland County, Tennessee",56197,57836,59078,3818,3901,3620,3783,4020,4243,...,2206,1273,1588,1713,1273,1588,1713,48.4,50.0,51.4
18,"Davidson County, Tennessee",627973,670314,691243,42340,43565,40889,37772,41623,41751,...,9228,8999,9754,10028,8999,9754,10028,34.0,34.4,34.4
19,"Decatur County, Tennessee",11718,11680,11751,860,856,795,852,910,903,...,331,316,331,342,316,331,342,44.3,45.5,45.8
20,"DeKalb County, Tennessee",18695,19219,19852,1340,1437,1478,1323,1363,1434,...,395,352,338,347,352,338,347,41.0,41.7,42.5
21,"Dickson County, Tennessee",49693,50473,52853,3829,3872,3912,3196,3682,3836,...,967,747,771,859,747,771,859,38.8,39.9,39.9
22,"Dyer County, Tennessee",38318,37815,37463,2797,2727,2595,2497,2566,2513,...,794,631,703,692,631,703,692,39.3,39.8,39.7
23,"Fayette County, Tennessee",38429,39031,40036,3233,3182,2934,3098,3287,3364,...,946,533,660,726,533,660,726,42.0,44.5,46.0
24,"Fentress County, Tennessee",17920,17838,18136,1297,1301,1323,1334,1321,1354,...,380,274,309,288,274,309,288,42.4,44.3,45.4
25,"Franklin County, Tennessee",40961,41268,41652,2990,2982,2687,2936,3009,3024,...,964,832,811,886,832,811,886,41.4,41.9,42.2
26,"Gibson County, Tennessee",49734,49368,49111,3567,3565,3211,3206,3305,3411,...,1095,1214,1170,1211,1214,1170,1211,40.0,39.9,39.7
27,"Giles County, Tennessee",29420,28824,29401,2311,2334,2178,2152,2174,2285,...,710,627,610,624,627,610,624,42.3,43.5,43.7
28,"Grainger County, Tennessee",22721,22865,23144,1720,1693,1791,1627,1691,1734,...,474,272,334,346,272,334,346,42.2,43.8,45.1
29,"Greene County, Tennessee",68838,68440,68808,5196,5108,4969,4885,5112,5105,...,1748,1207,1311,1425,1207,1311,1425,42.7,44.1,44.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,"Obion County, Tennessee",31821,30815,30385,2387,2171,1925,2257,2290,2202,...,728,659,639,677,659,639,677,41.4,42.5,42.8
66,"Overton County, Tennessee",22094,21948,22012,1596,1518,1536,1558,1574,1557,...,538,341,384,396,341,384,396,41.6,42.7,43.4
67,"Perry County, Tennessee",7938,7819,7975,601,511,506,590,606,569,...,186,133,162,198,133,162,198,43.0,43.4,43.4
68,"Pickett County, Tennessee",5073,5068,5073,364,387,394,385,364,394,...,197,102,114,121,102,114,121,47.4,48.8,50.4
69,"Polk County, Tennessee",16817,16685,16757,1254,1274,1333,1178,1251,1212,...,428,261,308,328,261,308,328,42.6,44.3,45.4
70,"Putnam County, Tennessee",72569,74913,77674,4636,4681,4568,4329,4554,4689,...,1474,1212,1370,1480,1212,1370,1480,36.0,36.0,36.1
71,"Rhea County, Tennessee",31857,32525,32691,2281,2216,2235,2113,2250,2256,...,677,546,573,598,546,573,598,39.9,40.8,41.0
72,"Roane County, Tennessee",54157,52827,53036,4336,4088,3880,4367,4400,4274,...,1351,1205,1357,1422,1205,1357,1422,45.0,46.5,47.2
73,"Robertson County, Tennessee",66355,67869,70177,5057,5349,5125,4338,4770,5244,...,1120,831,891,925,831,891,925,37.7,38.4,38.9
74,"Rutherford County, Tennessee",263747,288608,317157,16912,19172,19955,13802,16414,18303,...,3329,2278,2756,3079,2278,2756,3079,32.3,33.3,33.7
75,"Scott County, Tennessee",22227,21986,21989,1521,1530,1558,1446,1464,1426,...,373,327,335,356,327,335,356,38.2,38.9,39.6
76,"Sequatchie County, Tennessee",14127,14634,14736,1037,1064,1030,991,1112,1113,...,288,221,254,281,221,254,281,40.8,42.8,44.0
77,"Sevier County, Tennessee",89948,94570,97638,6759,7121,7151,6401,6893,7145,...,1946,1312,1539,1644,1312,1539,1644,41.0,42.4,43.3
78,"Shelby County, Tennessee",928552,938434,936961,66350,64536,59532,59228,62411,60997,...,13297,12481,13579,14257,12481,13579,14257,34.6,35.1,35.6
79,"Smith County, Tennessee",19125,19026,19636,1506,1578,1540,1302,1392,1505,...,331,299,288,286,299,288,286,39.9,41.0,41.0
80,"Stewart County, Tennessee",13349,13218,13355,1024,1038,1085,989,1013,981,...,289,221,259,262,221,259,262,42.9,43.9,44.7
81,"Sullivan County, Tennessee",156755,156513,157158,12017,11716,11400,11519,11767,11474,...,4256,3582,3835,3966,3582,3835,3966,43.7,44.5,45.2
82,"Sumner County, Tennessee",161199,172183,183545,11949,13104,13091,10627,11672,12739,...,3061,2208,2616,2943,2208,2616,2943,38.7,39.3,39.5
83,"Tipton County, Tennessee",61066,61566,61366,4498,4741,4383,3796,4197,4395,...,980,627,739,806,627,739,806,36.6,37.5,38.1
84,"Trousdale County, Tennessee",7874,7993,10083,605,599,639,562,597,616,...,146,127,132,129,127,132,129,39.7,40.7,35.6
85,"Unicoi County, Tennessee",18284,17905,17759,1468,1349,1264,1409,1440,1413,...,544,447,483,478,447,483,478,45.1,46.2,46.7
86,"Union County, Tennessee",19118,18990,19442,1534,1500,1439,1321,1446,1588,...,348,223,265,321,223,265,321,40.3,41.7,42.7
87,"Van Buren County, Tennessee",5569,5653,5742,465,414,376,472,477,457,...,128,68,119,115,68,119,115,44.6,46.3,47.2
88,"Warren County, Tennessee",39860,39934,40651,2900,2888,2685,2603,2772,2839,...,864,690,716,740,690,716,740,39.4,40.3,40.3
89,"Washington County, Tennessee",123386,125736,127806,8798,8772,8328,8183,8524,8793,...,2699,2369,2466,2564,2369,2466,2564,39.3,39.9,40.4
90,"Wayne County, Tennessee",16987,16788,16583,1250,1238,1207,1104,1146,1202,...,407,308,360,381,308,360,381,41.0,42.3,43.1
91,"Weakley County, Tennessee",35042,33987,33337,2282,2210,2123,2205,2173,2120,...,749,742,757,808,742,757,808,36.9,37.5,38.3
92,"White County, Tennessee",25821,26229,26753,1848,1869,1902,1849,1844,1835,...,646,532,566,623,532,566,623,42.1,42.6,42.8
93,"Williamson County, Tennessee",184130,205213,226257,15260,16295,16866,12386,14701,15563,...,3057,2125,2708,3161,2125,2708,3161,38.6,38.9,39.0
94,"Wilson County, Tennessee",114677,125146,136442,8985,9840,9663,7687,8802,9711,...,2178,1368,1620,1798,1368,1620,1798,39.3,40.1,39.9

In [141]:
pop_df.shape

(95, 34)

In [142]:
print(pop_df.columns)

Index(['Geography',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)'],
      dtype='object')

In [143]:
#drop 85 years and older
pop_df = pop_df.drop(columns = 'Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over')
pop_df

,Geography,Population Estimate (as of July 1) - 2010 - Both Sexes; Total,Population Estimate (as of July 1) - 2014 - Both Sexes; Total,Population Estimate (as of July 1) - 2017 - Both Sexes; Total,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years,...,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over,Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)
0,"Anderson County, Tennessee",75112,75131,76257,5850,5690,5296,5577,5689,5643,...,1779,1785,2135,2211,2173,2135,2211,42.6,43.3,43.2
1,"Bedford County, Tennessee",45086,46259,48117,3043,3207,3239,2646,2938,3143,...,729,811,647,679,640,647,679,36.5,37.2,37.5
2,"Benton County, Tennessee",16511,16176,15986,1259,1204,1179,1224,1239,1206,...,399,418,362,409,415,362,409,45.6,46.7,47.4
3,"Bledsoe County, Tennessee",12882,14419,14717,1005,1216,1185,903,1100,1197,...,275,267,178,209,264,178,209,42.5,43.3,43.9
4,"Blount County, Tennessee",123213,125827,129929,9152,9658,9522,8657,9094,9615,...,2591,2939,2390,2656,2786,2390,2656,41.5,43.1,43.8
5,"Bradley County, Tennessee",99096,102816,105560,6967,7306,7216,6177,6774,7199,...,1955,2118,1446,1714,1872,1446,1714,38.2,39.0,39.7
6,"Campbell County, Tennessee",40735,39895,39648,2883,2863,2866,2864,2810,2719,...,913,967,706,741,819,706,741,41.9,43.3,44.0
7,"Cannon County, Tennessee",13801,13614,14216,1093,1080,1081,930,994,1059,...,288,307,257,262,279,257,262,41.5,42.6,42.5
8,"Carroll County, Tennessee",28448,28358,27860,1966,2044,1959,1945,1944,1968,...,674,691,669,661,670,669,661,42.0,42.2,42.7
9,"Carter County, Tennessee",57340,56270,56488,4311,4195,4145,4099,4273,4124,...,1326,1434,1101,1309,1395,1101,1309,42.3,44.3,45.3
10,"Cheatham County, Tennessee",39122,39604,40330,3249,3397,3280,2723,2974,3224,...,530,594,360,395,461,360,395,39.4,40.5,40.9
11,"Chester County, Tennessee",17193,17101,17119,1112,1132,1090,990,1099,1117,...,385,367,342,353,360,342,353,36.3,37.5,38.0
12,"Claiborne County, Tennessee",32216,31529,31609,2374,2180,2262,2361,2359,2218,...,671,740,517,508,529,517,508,41.1,42.7,43.2
13,"Clay County, Tennessee",7851,7639,7703,557,582,581,570,546,551,...,203,215,153,175,190,153,175,45.1,46.5,47.3
14,"Cocke County, Tennessee",35641,35201,35556,2784,2758,2618,2669,2748,2780,...,791,847,549,570,621,549,570,43.0,44.4,45.3
15,"Coffee County, Tennessee",52770,53521,55034,3841,3938,3796,3433,3710,3857,...,1188,1218,966,1003,1085,966,1003,39.8,40.0,39.8
16,"Crockett County, Tennessee",14588,14645,14473,1043,1122,1019,901,964,1036,...,296,343,345,360,342,345,360,39.6,40.0,40.5
17,"Cumberland County, Tennessee",56197,57836,59078,3818,3901,3620,3783,4020,4243,...,2058,2206,1273,1588,1713,1273,1588,48.4,50.0,51.4
18,"Davidson County, Tennessee",627973,670314,691243,42340,43565,40889,37772,41623,41751,...,9056,9228,8999,9754,10028,8999,9754,34.0,34.4,34.4
19,"Decatur County, Tennessee",11718,11680,11751,860,856,795,852,910,903,...,330,331,316,331,342,316,331,44.3,45.5,45.8
20,"DeKalb County, Tennessee",18695,19219,19852,1340,1437,1478,1323,1363,1434,...,366,395,352,338,347,352,338,41.0,41.7,42.5
21,"Dickson County, Tennessee",49693,50473,52853,3829,3872,3912,3196,3682,3836,...,920,967,747,771,859,747,771,38.8,39.9,39.9
22,"Dyer County, Tennessee",38318,37815,37463,2797,2727,2595,2497,2566,2513,...,739,794,631,703,692,631,703,39.3,39.8,39.7
23,"Fayette County, Tennessee",38429,39031,40036,3233,3182,2934,3098,3287,3364,...,804,946,533,660,726,533,660,42.0,44.5,46.0
24,"Fentress County, Tennessee",17920,17838,18136,1297,1301,1323,1334,1321,1354,...,338,380,274,309,288,274,309,42.4,44.3,45.4
25,"Franklin County, Tennessee",40961,41268,41652,2990,2982,2687,2936,3009,3024,...,991,964,832,811,886,832,811,41.4,41.9,42.2
26,"Gibson County, Tennessee",49734,49368,49111,3567,3565,3211,3206,3305,3411,...,1150,1095,1214,1170,1211,1214,1170,40.0,39.9,39.7
27,"Giles County, Tennessee",29420,28824,29401,2311,2334,2178,2152,2174,2285,...,614,710,627,610,624,627,610,42.3,43.5,43.7
28,"Grainger County, Tennessee",22721,22865,23144,1720,1693,1791,1627,1691,1734,...,456,474,272,334,346,272,334,42.2,43.8,45.1
29,"Greene County, Tennessee",68838,68440,68808,5196,5108,4969,4885,5112,5105,...,1640,1748,1207,1311,1425,1207,1311,42.7,44.1,44.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,"Obion County, Tennessee",31821,30815,30385,2387,2171,1925,2257,2290,2202,...,703,728,659,639,677,659,639,41.4,42.5,42.8
66,"Overton County, Tennessee",22094,21948,22012,1596,1518,1536,1558,1574,1557,...,458,538,341,384,396,341,384,41.6,42.7,43.4
67,"Perry County, Tennessee",7938,7819,7975,601,511,506,590,606,569,...,217,186,133,162,198,133,162,43.0,43.4,43.4
68,"Pickett County, Tennessee",5073,5068,5073,364,387,394,385,364,394,...,153,197,102,114,121,102,114,47.4,48.8,50.4
69,"Polk County, Tennessee",16817,16685,16757,1254,1274,1333,1178,1251,1212,...,352,428,261,308,328,261,308,42.6,44.3,45.4
70,"Putnam County, Tennessee",72569,74913,77674,4636,4681,4568,4329,4554,4689,...,1496,1474,1212,1370,1480,1212,1370,36.0,36.0,36.1
71,"Rhea County, Tennessee",31857,32525,32691,2281,2216,2235,2113,2250,2256,...,643,677,546,573,598,546,573,39.9,40.8,41.0
72,"Roane County, Tennessee",54157,52827,53036,4336,4088,3880,4367,4400,4274,...,1375,1351,1205,1357,1422,1205,1357,45.0,46.5,47.2
73,"Robertson County, Tennessee",66355,67869,70177,5057,5349,5125,4338,4770,5244,...,1052,1120,831,891,925,831,891,37.7,38.4,38.9
74,"Rutherford County, Tennessee",263747,288608,317157,16912,19172,19955,13802,16414,18303,...,2967,3329,2278,2756,3079,2278,2756,32.3,33.3,33.7
75,"Scott County, Tennessee",22227,21986,21989,1521,1530,1558,1446,1464,1426,...,366,373,327,335,356,327,335,38.2,38.9,39.6
76,"Sequatchie County, Tennessee",14127,14634,14736,1037,1064,1030,991,1112,1113,...,270,288,221,254,281,221,254,40.8,42.8,44.0
77,"Sevier County, Tennessee",89948,94570,97638,6759,7121,7151,6401,6893,7145,...,1793,1946,1312,1539,1644,1312,1539,41.0,42.4,43.3
78,"Shelby County, Tennessee",928552,938434,936961,66350,64536,59532,59228,62411,60997,...,12986,13297,12481,13579,14257,12481,13579,34.6,35.1,35.6
79,"Smith County, Tennessee",19125,19026,19636,1506,1578,1540,1302,1392,1505,...,315,331,299,288,286,299,288,39.9,41.0,41.0
80,"Stewart County, Tennessee",13349,13218,13355,1024,1038,1085,989,1013,981,...,284,289,221,259,262,221,259,42.9,43.9,44.7
81,"Sullivan County, Tennessee",156755,156513,157158,12017,11716,11400,11519,11767,11474,...,4004,4256,3582,3835,3966,3582,3835,43.7,44.5,45.2
82,"Sumner County, Tennessee",161199,172183,183545,11949,13104,13091,10627,11672,12739,...,2806,3061,2208,2616,2943,2208,2616,38.7,39.3,39.5
83,"Tipton County, Tennessee",61066,61566,61366,4498,4741,4383,3796,4197,4395,...,954,980,627,739,806,627,739,36.6,37.5,38.1
84,"Trousdale County, Tennessee",7874,7993,10083,605,599,639,562,597,616,...,135,146,127,132,129,127,132,39.7,40.7,35.6
85,"Unicoi County, Tennessee",18284,17905,17759,1468,1349,1264,1409,1440,1413,...,520,544,447,483,478,447,483,45.1,46.2,46.7
86,"Union County, Tennessee",19118,18990,19442,1534,1500,1439,1321,1446,1588,...,313,348,223,265,321,223,265,40.3,41.7,42.7
87,"Van Buren County, Tennessee",5569,5653,5742,465,414,376,472,477,457,...,112,128,68,119,115,68,119,44.6,46.3,47.2
88,"Warren County, Tennessee",39860,39934,40651,2900,2888,2685,2603,2772,2839,...,815,864,690,716,740,690,716,39.4,40.3,40.3
89,"Washington County, Tennessee",123386,125736,127806,8798,8772,8328,8183,8524,8793,...,2527,2699,2369,2466,2564,2369,2466,39.3,39.9,40.4
90,"Wayne County, Tennessee",16987,16788,16583,1250,1238,1207,1104,1146,1202,...,368,407,308,360,381,308,360,41.0,42.3,43.1
91,"Weakley County, Tennessee",35042,33987,33337,2282,2210,2123,2205,2173,2120,...,791,749,742,757,808,742,757,36.9,37.5,38.3
92,"White County, Tennessee",25821,26229,26753,1848,1869,1902,1849,1844,1835,...,630,646,532,566,623,532,566,42.1,42.6,42.8
93,"Williamson County, Tennessee",184130,205213,226257,15260,16295,16866,12386,14701,15563,...,2638,3057,2125,2708,3161,2125,2708,38.6,38.9,39.0
94,"Wilson County, Tennessee",114677,125146,136442,8985,9840,9663,7687,8802,9711,...,1832,2178,1368,1620,1798,1368,1620,39.3,40.1,39.9

In [144]:
pop_df.shape

(95, 33)

In [145]:
pop_df = pop_df.drop(columns = 'Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over')
pop_df = pop_df.drop(columns = 'Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over')

In [146]:
pop_df.shape

(95, 31)

In [147]:
print(pop_df.columns)

Index(['Geography',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)'],
      dtype='object')